@model LoginVM

@{
    ViewBag.Title = "Account | Login";
}

<form id="loginForm" class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password">
    <span asp-validation-for="Password"></span>

    <br>
    <div>
        <label>
            <input asp-for="RememberMe">
            Remember Me
        </label>
    </div>
    <br>

    <div class="g-recaptcha" data-sitekey="6LedfeEpAAAAALPKXEn6QC5w4Smxu4txXrgDSJ22" data-callback="onSubmit"></div>
    <input type="hidden" name="RecaptchaResponse" id="RecaptchaResponse" />
    <br>

    <section>
        <button type="button" id="loginButton">Login</button>
        <button type="reset">Reset</button>
    </section>
</form>

<p>
    [ <a href="/Account/Register">Register</a> |
    <a href="/Account/ResetPassword">Reset Password</a> ]
</p>

<script>
    function onSubmit(token) {
        document.getElementById("RecaptchaResponse").value = token;
    }

    document.getElementById("loginButton").addEventListener("click", function () {
        var recaptchaResponse = document.getElementById("RecaptchaResponse").value;
        if (recaptchaResponse) {
            document.getElementById("loginForm").submit();
        } else {
            alert("Please complete the reCAPTCHA.");
        }
    });
</script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>