@model RegisterVM

@{
    ViewBag.Title = "Account | Register";
}

<form class="form" asp-action="Register" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" type="password">
    <span asp-validation-for="Password"></span>

    <label asp-for="Confirm"></label>
    <input asp-for="Confirm" type="password">
    <span asp-validation-for="Confirm"></span>

    <label asp-for="Name"></label>
    <input asp-for="Name">
    <span asp-validation-for="Name"></span>

    <label>Gender</label>
    <div>
        <input type="radio" id="Male" name="Gender" value="M" />
        <label for="Male">Male</label>

        <input type="radio" id="Female" name="Gender" value="F" />
        <label for="Female">Female</label>
    </div>
    <span asp-validation-for="Gender"></span>

    <label asp-for="Phone"></label>
    <input asp-for="Phone">
    <span asp-validation-for="Phone"></span>

    <label asp-for="Photo"></label>
    <div>
        <label class="upload">
            <small>Select Photo...</small>
            <input asp-for="Photo" accept="image/jpeg,image/png" hidden>
            <img src="/images/photo.jpg">
        </label>
    </div>
    <span asp-validation-for="Photo"></span>

    <label asp-for="Age"></label>
    <input asp-for="Age" type="number" min="1" max="120">
    <span asp-validation-for="Age"></span>

    <section>
        <button type="submit">Register</button>
        <button type="reset">Reset</button>
    </section>
</form>

@section foot {
    <script>
        $.validator.setDefaults({ ignore: '' });
    </script>
}
