@model Tutor

@{
    ViewBag.Title = "Tutors | Timetable";
}

@{
    string[] dayOfWeek = { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" };
}

<table border="1" class="table" style="margin-top: 10px">
    <thead>
        <tr><th colspan="21">@Model.Name Timetable</th></tr>
        <tr>
            <th>Time</th>
            @for (int column = 8; column <= 20; column++)
                {
                    <th>@column:00</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int day = 0; day < 5; day++)
        {
            <tr>
                <th>@dayOfWeek[day]</th>
                @{
                    //Initialize the starting column for each day
                    int column = 8;
                    // Loop through each hour from 8 AM to 8 PM
                    while (column <= 20) {

                        bool courseFound = false;
                        string courseId = "";
                        string courseName = "";
                        int duration = 0;
                        // Iterate through each subject to find matching courses for the current day and time
                        foreach (var s in Model.Subjects)
                        {
                            foreach (var cs in s.ClassesSubjects)
                           {
                                if (dayOfWeek[day].Equals(cs.DayOfWeek) && cs.StartTime == TimeSpan.FromHours(column))
                                {

                                    courseId = s.Id;
                                    courseName = s.Name;
                                    duration = cs.Duration;

                                    courseFound = true;
                                    column += duration + 1; // Increment by duration to move to the next available time slot
                                    break;
                                }
                                //break;
                            }
                        }
                        if (courseFound)
                    {
                            <td style="text-align: center; background-color:#f0f0f0" colspan="@((duration + 1))">
                                @courseId <br>
                                @courseName<br>
                            </td>
                    }
                    else
                    {
                        <td></td>
                        column++;
                    }
                }
            }
            </tr>
        }
    </tbody>
</table>
