@{
    ViewBag.Title = "Chart 5";
}

<div id="chart" style="width: 600px; height: 400px"></div>

<p>
    <a href="#" id="reload">Reload</a>
    <label><input type="checkbox" id="stacked">Stacked</label>
</p>

<p>
    [ <a href="Data4" target="data">Data</a> ]
</p>

@section foot {
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(init);

        let dt, opt, cht;

        function init() {
            dt = new google.visualization.DataTable();
            // Data table columns: Program, Female and Male
            dt.addColumn('string', 'Program');
            dt.addColumn('number', 'Female');
            dt.addColumn('number', 'Male');

            const style = { bold: true, italic: false, fontSize: 20, color: 'purple' };

            opt = {
                title: 'Student Count By Program By Gender',
                fontName: 'Roboto',
                fontSize: 16,
                titleTextStyle: { fontSize: 20 },
                chartArea: { width: '65%', height: '70%', top: 60, left: 80 },
                vAxis: { title: 'Student Count', titleTextStyle: style },
                hAxis: { title: 'Program', titleTextStyle: style },
                animation: { duration: 500, startup: true },
                // TODO: colors ['#dc3912', '#3366cc'], isStacked, focusTarget
                colors: ['#dc3912', '#3366cc'],
                isStacked: false, // true
                focusTarget: 'datum', // category
            };

            cht = new google.visualization.ColumnChart($('#chart')[0]);

            $('#reload').click();
        }

        $('#reload').click(e => {
            e.preventDefault();

            const url = 'Data4';
            const param = {};

            $.getJSON(url, param, data => {
                dt.removeRows(0, dt.getNumberOfRows());
                dt.addRows(data);
                cht.draw(dt, opt);
            });
        });

        $('#stacked').change(e => {
            e.preventDefault();

            // TODO: Toggle isStacked (false <--> true)
            //       Toggle focusTarget (datum <--> category)
            opt.isStacked = e.target.checked;

            opt.focusTarget = e.target.checked ? 'category' : 'datum';

            cht.draw(dt, opt);
        });
    </script>
}
