@model ClassesVM

@{
    ViewBag.Title = "Classes | Create Classes";
}

<form method="post" class="form">
    <div asp-validation-summary="ModelOnly"></div>
    
    <table class="table">
        <tr>
            <th><label asp-for="Name">Classes Name:</label></th>
            <td><input asp-for="Name" name="Name" ID="Name" type="text" maxlength="100" autofocus /></td>
            <span asp-validation-for="Name"></span>
        </tr>
        <tr>
            <th><label asp-for="ClassType">Class Types:</label></th>
            <td>
                <select asp-for="ClassType" name="ClassType" id="ClassType">
                    <option value="K1">K1</option>
                    <option value="K2">K2</option>
                    <option value="K3">K3</option>
                </select>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><button>Create</button></td>
        </tr>
    </table>
      
</form>
