@{
    ViewBag.Title = "Classes | View Classes";
    //IEnumerable<Class> classes = ViewBag.Classes;
}
<div id="target">
    <partial name="_Index">
</div>

@section foot {
    <script>
        let timer = null;

        $(document).on('input', '#name', e => {
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(), 500);
        });

        function success() {
            // let the cursor stay inside the search box
            $('#name').focus();
            // cursor at the end, start also at the end
            $('#name')[0].setSelectionRange(-1, -1);

            const name = $('#name').val().trim();

            if (!name) return;

            const re = new RegExp(escapeRegExp(name), 'gi')

            $('td:nth-child(2)').each((i, el) => {
                const html = $(el).html().replace(re, '<mark>$&</mark>');
                $(el).html(html);
            });
        }
    </script>
}
