@model ClassesVM

@{
    ViewBag.Title = "Classes | Update Classes";
}

<form method="post" class="form" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Id">Classes Id</label>
    <b>@Model.Id</b>
    <br />

    <label asp-for="Name">Classes Name:</label>
    <input asp-for="Name" name="Name" type="text" maxlength="100" />
    <span asp-validation-for="Name"></span>
    <br />
    <button>Update</button>

</form>
