/* Font ----------------------------------------------------------------------- */

body, input, select, textarea, button {
    font: 16px Roboto, sans-serif;
}

/* Layout --------------------------------------------------------------------- */

body {
    margin: 0;
    height: 100vh;
}

header,
footer {
    background: #008c99;
    padding: 10px 50px;
}

header {
    display: flex;
    gap: 10px;
    align-items: center;
    background: url(../images/header_bg.png) repeat #FFFFFF;
}

header h1 {
    margin: 0;
    padding-left: 40px;
    background: url(/images/favicon.png) no-repeat left / 32px;
}

header a {
    color: inherit;
    text-decoration: none;
}

header img {
    width: 36px;
    height: 36px;
    border: 1px solid #999;
    border-radius: 5px;
}

nav {
    background: #008c99;
    padding: 0 50px;
    display: flex;
}

nav a {
    background: #005c65;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    white-space: nowrap;
}

nav a:hover {
    background: #0a4147;
}

nav b {
    padding: 5px 10px;
    white-space: nowrap;
}

nav div {
    flex: 1;
}

main {
    padding: 20px 50px;
    flex: 1;
}

main h1 {
    margin-top: 0;
}
/*sidebar ----------------------------------------------*/
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 13px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 15px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
}

.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 250px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section{
  display: flex;
  flex-direction: column;
}
.home-content {
    height: 100%;
    display: grid;
    grid: auto auto 1fr auto / auto;
}
    .home-section .home-content .bx-menu, .home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

/* Table ---------------------------------------------------------------------- */

.table {
    border-collapse: collapse;
}

.table th, 
.table td {
    border: 1px solid #333;
    padding: 5px;
}

.table th {
    background: #666;
    color: #fff;
}

.table tr:hover td {
    background: #ccc;
}

.detail th {
    text-align: left;
}

.table th a {
    color: inherit;
    display: block;
}

.table th a.asc::after {
    content: ' ▴';
}

.table th a.des::after {
    content: ' ▾';
}

.table tr:has(input:checked) {
    background: #999;
}

.table td:last-child {
    position: relative;
}

.table .popup {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(5px, -50%);
    border: 1px solid #333;
    background: #fff;
    z-index: 1;
    white-space: nowrap;
    display: none;
}

.table tr:hover .popup {
    display: block;
}

/* Pager ---------------------------------------------------------------------- */

.pagination a,
.pagination span {
    background: #666 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}

.pagination a:hover,
.pagination span:hover {
    background: #333 !important;
}

.pagination .active a,
.pagination .active span {
    background: #333 !important;
}

.pagination .disabled a,
.pagination .disabled span {
    background: #ccc !important;
}

/* Flash Message -------------------------------------------------------------- */

.info {
    position: fixed;
    background: #666;
    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    
    top: -100px;
    opacity: 0;
}

.info:not(:empty) {
    animation: fade 5s;
}

@keyframes fade {
      0% { top: -100px; opacity: 0; }
     10% { top:  100px; opacity: 1; }
     90% { top:  100px; opacity: 1; }
    100% { top: -100px; opacity: 0; }
}

/* Form ----------------------------------------------------------------------- */

label > * {
    vertical-align: text-top;
}

.form {
    display: grid;
    grid: auto / auto auto auto;
    gap: 5px;
    place-content: start;
    place-items: center start;
}

.form > label {
    background: #ccc;
    font-weight: bold;
    padding: 5px;
    place-self: stretch;
}

.form > section,
.validation-summary-valid,
.validation-summary-errors {
    grid-column: 1 / -1;
}

.validation-summary-valid ul,
.validation-summary-errors ul {
    margin: 0;
}

.field-validation-error,
.validation-summary-errors {
    color: red;
}

/* Photo Upload --------------------------------------------------------------- */

label.upload {
    display: block;
}

label.upload img {
    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    object-fit: cover;
    cursor: pointer;
}

/* Badge ---------------------------------------------------------------------- */
.badge {
    display: inline-block;
    background-color: #666;
    color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    min-width: 30px;
    text-align: center;
}

/* Google chart --------------------------------------------------------------- */

#chart {
    border: 1px solid #333;
    background: #ccc url(/Images/loader-64.gif) no-repeat center;
}

#loader > * {
    vertical-align: text-top;
}
