<nav class="sidebar close">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">Kindegarden Management</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Category</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-user-circle'></i>
                    <span class="link_name">User Account Management</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">User Account Management</a></li>
                <li><a href="/AccountMaintenance/InsertAdmin">Add Admin</a></li>
                <li><a href="/AccountMaintenance/InsertTutor">Add Tutor</a></li>
                <li><a href="/AccountMaintenance/InsertParent">Add Parent</a></li>
                <li><a href="/AccountMaintenance/InsertStudent">Add Student</a></li>
                <li><a href="/AccountMaintenance/Index">View Users</a></li>
            </ul>
        </li>
        
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-book-alt'></i>
                    <span class="link_name">Subject Management</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Subject Management</a></li>
                <li><a href="/Subject/Create">Create Subject</a></li>
                <li><a href="/Subject/Index">View Subject</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-book-alt'></i>
                    <span class="link_name">Classes Management</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Classes Management</a></li>
                <li><a href="/Classes/Create">Create Classes</a></li>
                <li><a href="/Classes/Index">View Classes</a></li>
                <li><a href="/Classes/ClassSubject">Class-Subject Allocation</a></li>
                <li><a href="/Student/StudentList">View student Class</a></li>
                <li><a href="/Tutor/Index">View Tutor Class</a></li>
            </ul>
        </li>
       
        <!-----------------------------------END--------------------------------------------Add By Qin Long-->
        <li>
            <a href="#">
                <i class='bx bx-line-chart'></i>
                <span class="link_name">Chart</span>
            </a>

            <ul class="sub-menu">
                <li><a class="link_name" href="#">Chart</a></li>
                <li><a href="/Chart/Chart1">Chart 1</a></li>
                <li><a href="/Chart/Chart2">Chart 2</a></li>
                <li><a href="/Chart/Chart3">Chart 3</a></li>
                <li><a href="/Chart/Chart4">Chart 4</a></li>
                <li><a href="/Chart/Chart5">Chart 5</a></li>
                <li><a href="/Chart/Chart6">Chart 6</a></li>
                <li><a href="/Chart/Chart7">Chart 7</a></li>
                <li><a href="/Chart/Chart8">Chart 8</a></li>
            </ul>

        </li>


        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <!--塞 user photo-->
                    <!--<img src="image/profile.jpg" alt="profileImg">-->
                </div>
                <div class="name-job">
                    <div class="profile_name">塞 user name</div>
                    <div class="job">塞user role</div>
                </div>
                <i class='bx bx-log-out'></i>
            </div>
        </li>
    </ul>
</nav>