<nav>
    <a href="/">Index</a>
    <a href="/Home/Chat">Live Chat</a>
    <a href="/Home/Map">School Location</a>
    @if (User.IsInRole("Parent"))
    {
        <a href="/Product/Order">Order</a>
        <a href="/Chart/Chart1">Chart1</a>
        <a href="/Chart/Chart2">Chart2</a>
    }

    <div></div>

    @if (User.Identity.IsAuthenticated)
    {
        <a href="/Account/Logout">Logout</a>
        <a href="/Account/UpdatePassword">Update Password</a>
    }
    else
    {
        <a href="/Account/Login">Login</a>
        <a href="/Account/Register">Register</a>
        <a href="/Account/ResetPassword">Reset Password</a>
    }
    @if (User.IsInRole("Parent"))
    {
        <a href="/Account/UpdateProfile">Update Profile</a>
    }
</nav>