@model CreateSubjectsVM

@{
    ViewBag.Title = "Subject | Create Subjects";
    //IEnumerable<Tutors> tutors = ViewBag.Tutors;
}
<form method="post" class="form">
    <div>
        <table width="100%">
            
            <tr>
                <td><label for="name">Subject Name:</label> </td>
                <td><input name="name" ID="name" type="text" maxlength="100" /></td>
            </tr>

            <tr>
                <td><label for="dayOfWeek">Day of Week</label> </td>
                <td>
                    <select name="dayOfWeek" id="dayOfWeek">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="startTime">Start Time:</label></td>
                <td><input type="time" id="startTime" name="startTime" min="08:00" max="17:00" value="08:00"></td>
            </tr>

            <tr>
                <td><label for="duration">Duration:</label> </td>
                <td>
                    <select name="duration" id="duration">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><label asp-for="TutorId">Tutor Names:</label> </td>
                <td>
                    <select asp-for="TutorId" id="TutorId" asp-items="ViewBag.TutorList">
                        <option value="">- Select One -</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Insert" />
                </td>
            </tr>
        </table>
    </div>
</form>
