@model AdminVM

@{
    ViewBag.Title = "Home | Admin Insert";
}

<form method="post" class="form">

    <div asp-validation-summary="ModelOnly"></div>

    <h1>Register Login Account</h1>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" autofocus />
    <span asp-validation-for="Password"></span>

    <h1>Admin Information</h1>

    <label asp-for="Id"></label>
    <input asp-for="Id" autofocus data-upper />
    <span asp-validation-for="Id"></span>

    <label asp-for="Name"></label>
    <input asp-for="Name" autofocus data-upper />
    <span asp-validation-for="Name"></span>

    <label asp-for="Gender"></label>
    <div>
        <label><input type="radio" asp-for="Gender" value="F" />Female</label>
        <label><input type="radio" asp-for="Gender" value="M" />Male</label>
    </div>
    <span asp-validation-for="Gender"></span>

    <label asp-for="Contact Number"></label>
    <input asp-for="ContactNumber" autofocus />
    <span asp-validation-for="ContactNumber"></span>

    <label>Photo</label>
    <div>
        <label class="upload">
            <input type="file" name="photo" accept="image/jpeg,image/png" hidden />
            <img src="/images/photo.jpg" />
        </label>
    </div>
    @Html.ValidationMessage("photo")

    <!--<label asp-for="ProgramId"></label>
    <select asp-for="ProgramId" asp-items="ViewBag.ProgramList">
        <option value="">- Select One -</option>
    </select>
    <span asp-validation-for="ProgramId"></span>-->
    

    <section>
        <button>Submit</button>
        <button type="reset">Reset</button>
    </section>
</form>